<div class="container">
    <h1>Albums of {{ artist }}</h1>
    <div class="row"> 
    <div class="col-sm-4 col-sm-12" *ngFor='let item of albums; let i = index' [ngClass]="{'row': (1+i)%3 == 0}">
     
      
      <div class="col-xs-6 col-md-4 thumbnail" style="width: 365px; margin-right: 15px; border-radius: 0px !important">
        <a href='albums/{{artist}}/{{item.name}}'  >
          <img [src]='item.image' style="height:350px"  
        onerror="this.src='assets/images/soon.png';"> 
        <div class="caption">
          <hr style="    border-top: 1px solid  #c6bebe"/>
          <h3 style="font-weight:100px;text-align:center;">{{item.name}} </h3>
      </div></a>
      <!-- <button type="button" class="btn btn-primary" style="margin-left: 19px;" (click)="addToCart(item)">Add to cart</button> -->
      
    
      
        
      </div>
  
      </div> 
    </div> 
  </div>